html,
body {
    height: 100%;
}

#sideNavLogo{
    margin-left: 65px;
    margin-top: 25px;
}

#logo-image {
    position: relative;
    top: 8px;
    right: 6px;
}

#intro {
    /*    #d87e4f*/
    /*    url(../IMAGES/Wallpapers/intro.jpg)*/
    background: white top left no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100%;
    /*    box-shadow: inset 0 0 100px #000;*/
    width: 100%;
}

#intro-caption {
    width: 100%;
    text-align: center;
    color: white;
}

#intro-caption h1 {
    font-size: 70px;
    /*    text-shadow: 1px 1px 6px #000000;*/
    letter-spacing: 2px;
    margin-bottom: 5px;
}

#intro-caption blockquote {
    /*    border: 2px solid rgba(251, 140, 80, 0.5)!important;*/
    border: 0px!important;
    font-size: 30px;
    padding-left: 0;
    /*    background-color: rgba(0, 0, 0, 0.2)*/
    color: #d87e4f;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.promo {
    width: 100%;
}

.parallax-container {
    height: 330px;
}

.products {
    overflow: hidden;
}

.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.promo-shadow {
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 1);
}

#products{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#chargers{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#periferals{
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
#screenProtectors{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.small {
    height: 240px!important;
}

#contactUs {
    /*    background-color: darkorange;*/
    color: white;
}

#contactUs a {
    color: white!important;
}

#contactUs a:link {
    color: white!important;
}

.contact-caption {
    font-size: 3rem;
    margin-top: 20px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.contact-caption+p {
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.contact-caption:hover {
    color: black;
    font-size: 3.5rem;
}

#fixo:hover,
#whats:hover{
    cursor: pointer;
}


/* label color */

.input-field label {
    color: #000!important;
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: #fb8c00!important;
}

.input-field input[type=email]:focus+label {
    color: #fb8c00!important;
}

.input-field textarea:focus+label {
    color: #fb8c00!important;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #fb8c00!important;
    box-shadow: 0 1px 0 0 #fb8c00!important;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #fb8c00!important;
    box-shadow: 0 1px 0 0 #fb8c00!important;
}

.input-field textarea:focus {
    border-bottom: 1px solid #fb8c00!important;
    box-shadow: 0 1px 0 0 #fb8c00!important;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #fb8c00!important;
}

#map{
    width: 100%;
    height: 40%;
    position: relative;
}

.modal-footer {
    margin-top: -70px;
}

.page-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /*
    -webkit-box-shadow: 0px -4px 44px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -4px 44px -12px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px -4px 44px -12px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px -4px 44px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -4px 44px -12px rgba(0, 0, 0, 0.75);
*/
}
